<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">

    <!-- LOGO -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/logo.png" class="brand-logo me-2" alt="PrintVision">
      <div class="brand-text">
        <div class="brand-title">PRINT VISION</div>
        <div class="brand-subtitle">DIGITAL SOLUTIONS</div>
      </div>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto align-items-lg-center">

        <li class="nav-item">
          <a class="nav-link" href="/machines">Machines</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/inks">Inks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/accessories">Accessories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="btn btn-primary px-4" href="/contact">Contact Us</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
